body{
     background-color: #f1f1f1;
}
.numb{
     font-size: 2em;
}
.head{
     border: 1px solid grey;
     width: 190px;
     height: 60px;
     margin: 50px auto;
     text-align: center;
     padding-top: 15px;
     border-radius: 10px;
     transition: 0.3s;
     opacity: 0.6;
}
.head:hover{
     background-color: rgb(230, 229, 229);
     color: #000;
     cursor: pointer;
     opacity: 1;
}
.play{
     border: 1px solid #000;
     margin: 0 auto;
     padding: 20px;
     border-radius: 10px;
     background-color: rgb(230, 229, 229);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19)
}
